@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        In MyStudent’sGrades you can manage the Grades of your Student’s of a easy way.
        <br/>
        Now, you don’t need more use paper, everything is here.
    </p>
</div>
