@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        In MyStudent’sGrades you can manage the Grades of your Student’s of an easy way.
        <br/>
        Now you don’t need to use paper anymore, everything is here.
    </p>
</div>
